body{
    background-color: bisque;

}

.ingresar{
    width: 85%;
    max-width: 500 px;
    text-align: center;
}

.cardNumber { 
    font-family: sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    color: #068072; 
    background:#ffffff }

.botonValid{
    background-color: #13caa2d7;
    border: white;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.mostrar{
    display: none;
}